located in {{rental.city}}, this {{rental.bedrooms}} bedrooms {{rental.type}} is available by arrangement through {{rental.owner}}.
<br>
<p><img src={{rental.image}} alt={{rental.type}} class="rental-img"></p>

<h2> Reviews</h2>
<ul>
  {{#each rental.reviews as |review|}}
    {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<button type="button" name="button" {{action 'delete' rental}}>Delete</button>
